.paginate-area {
  text-align: center;
  width: 100%;
}

li {
  font-weight: bold;
  list-style: none;
}

.paginate {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-flex;

  /* display: -webkit-inline-box; */
  display: -ms-inline-flexbox;
  padding: 9px 8px;
}

.paginate li {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #5ea25a;
  display: block;
  font-size: 20px;
  margin-right: 6px;
  overflow: visible;
  padding: 9px 12px;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.paginate li:hover {
  background: #c9dec8;
  color: #4f664e;
}

.paginate li.current {
  background: #009688;
  color: #fff;
}

.paginate li span {
  overflow: visible;
}
